<ibeacons>
	<node>
		<uui>2F234454-CF6D-4A0F-ADF2-F4911BA9FFC3</uui>
		<message>C4 Beacon</message>
		<map>
			<meters>32</meters>
			<image>mapC4zero</image>
		</map>
		<map>
			<meters>16</meters>
            <anim>
                <image>mapC4one.1</image>
                <image>mapC4one.2</image>
                <image>mapC4one.3</image>
                <image>mapC4one.4</image>
                <image>mapC4one.5</image>
                <image>mapC4one.6</image>
            </anim>
		</map>
	</node>
<node>
    <uui>2F234454-CF6D-4A0F-ADF2-F4911BA9FFC2</uui>
    <message>C3 Beacon</message>
        <map>
            <meters>32</meters>
            <image>mapzero</image>
        </map>
        <map>
            <meters>8</meters>
            <image>mapone</image>
        </map>
        <map>
            <meters>4</meters>
            <image>maptwo</image>
            <audio>maptwo</audio>
        </map>
        <map>
            <meters>2</meters>
            <image>mapthree</image>
            <audio>mapthree</audio>
        </map>
        <map>
            <meters>1</meters>
            <audio>mapfour</audio>
            <anim>
                <image>mapfour.1</image>
                <image>mapfour.2</image>
            </anim>
        </map>
    </node>
<node>
	<uui>2F234454-CF6D-4A0F-ADF2-F4911BA9FFB5</uui>
    <message>B5 Beacon</message>
    <map>
        <meters>8</meters>
        <anim>
            <image>mapB5zero.1</image>
            <image>mapB5zero.2</image>
            <image>mapB5zero.3</image>
        </anim>
    </map>
    <map>
        <meters>4</meters>
        <audio>mapB5audio</audio>
        <anim>
            <image>mapB5one.1</image>
            <image>mapB5one.2</image>
	    </anim>
        </map>
<map>
        <meters>2</meters>
        <audio>mapB5audio</audio>
        <anim>
            <image>mapB5two.1</image>
            <image>mapB5two.2</image>
            </anim>
        </map>
<map>
        <meters>1</meters>
        <audio>mapB5audio</audio>
        <anim>
            <image>mapB5three.1</image>
            <image>mapB5three.2</image>
            </anim>
        </map>
    </node>
</ibeacons>
