<ibeacons>
	<node>
		<uui>2F234454-CF6D-4A0F-ADF2-F4911BA9FFC3</uui>
		<message>C4 Beacon</message>
		<map>
			<meters>32</meters>
			<image>mapC4zero</image>
		</map>
		<map>
			<meters>16</meters>
            <anim>
                <image>q1</image>
                <image>q2</image>
                <image>q3</image>
                <image>q4</image>
                <image>q5</image>
                <image>q6</image>
                <image>q7</image>
                <image>q8</image>
                <image>q9</image>
                <image>q10</image>
                <image>q11</image>
                <image>q12</image>
                <image>q13</image>
                <image>q14</image>
                <image>q15</image>
                <image>q16</image>
                <image>q17</image>
                <image>q18</image>
                <image>q19</image>
                <image>q20</image>
                <image>q21</image>
                <image>q22</image>
                <image>q23</image>
                <image>q24</image>
                <image>q25</image>
                <image>q26</image>
            </anim>
		</map>
	</node>
<node>
    <uui>2F234454-CF6D-4A0F-ADF2-F4911BA9FFC2</uui>
    <message>C3 Beacon</message>
        <map>
            <meters>32</meters>
            <image>mapzero</image>
        </map>
        <map>
            <meters>8</meters>
            <image>mapone</image>
        </map>
        <map>
            <meters>4</meters>
            <image>maptwo</image>
            <audio>maptwo</audio>
        </map>
        <map>
            <meters>2</meters>
            <image>mapthree</image>
            <audio>mapthree</audio>
        </map>
        <map>
            <meters>1</meters>
            <audio>mapfour</audio>
            <anim>
                <image>mapfour.1</image>
                <image>mapfour.2</image>
            </anim>
        </map>
    </node>
<node>
	<uui>2F234454-CF6D-4A0F-ADF2-F4911BA9FFB5</uui>
    <message>B5 Beacon</message>
    <map>
        <meters>32</meters>
        <anim>
            <image>mapB5zero.1</image>
            <image>mapB5zero.2</image>
            <image>mapB5zero.3</image>
        </anim>
    </map>
    <map>
        <meters>8</meters>
        <anim>
            <image>mapB5one.1</image>
            <image>mapB5one.2</image>
	    </anim>
        </map>
<map>
        <meters>4</meters>
        <anim>
            <image>mapB5two.1</image>
            <image>mapB5two.2</image>
            </anim>
        </map>
<map>
        <meters>2</meters>
        <anim>
            <image>mapB5three.1</image>
            <image>mapB5three.2</image>
            </anim>
        </map>
    </node>
    <node>
	<uui>2F234454-CF6D-4A0F-ADF2-F4911BA9FFA1</uui>
	<message>A1 Beacon</message>
	<map>
	<meters>32</meters>
	<image>blah</image>
	</map>
</node>
<node>
        <uui>2F234454-CF6D-4A0F-ADF2-F4911BA9FFA2</uui>
        <message>A1 Beacon</message>
        <map>
        <meters>32</meters>
        <image>blah</image>
        </map>
</node>
<node>
        <uui>2F234454-CF6D-4A0F-ADF2-F4911BA9FFA3</uui>
        <message>A1 Beacon</message>
        <map>
        <meters>32</meters>
        <image>blah</image>
        </map>
</node>
<node>
        <uui>2F234454-CF6D-4A0F-ADF2-F4911BA9FFA4</uui>
        <message>A1 Beacon</message>
        <map>
        <meters>32</meters>
        <image>blah</image>
        </map>
</node>
<node>
        <uui>2F234454-CF6D-4A0F-ADF2-F4911BA9FFA5</uui>
        <message>A1 Beacon</message>
        <map>
        <meters>32</meters>
        <image>blah</image>
        </map>
</node>
<node>
        <uui>2F234454-CF6D-4A0F-ADF2-F4911BA9FFA6</uui>
        <message>A1 Beacon</message>
        <map>
        <meters>32</meters>
        <image>blah</image>
        </map>
</node>
<node>
        <uui>2F234454-CF6D-4A0F-ADF2-F4911BA9FFA7</uui>
        <message>A1 Beacon</message>
        <map>
        <meters>32</meters>
        <image>blah</image>
        </map>
</node>
<node>
        <uui>2F234454-CF6D-4A0F-ADF2-F4911BA9FFA8</uui>
        <message>A1 Beacon</message>
        <map>
        <meters>32</meters>
        <image>speaking</image>
        </map>
</node>
<node>
        <uui>2F234454-CF6D-4A0F-ADF2-F4911BA9FFA9</uui>
        <message>A1 Beacon</message>
        <map>
        <meters>32</meters>
        <image>blah</image>
        </map>
</node>
<node>
       A <uui>2F234454-CF6D-4A0F-ADF2-F4911BA9FFAA</uui>
        <message>A1 Beacon</message>
        <map>
        <meters>32</meters>
        <image>blah</image>
        </map>
</node>

</ibeacons>
